<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".home_page_for" %>
    <%= link_to t("common.ruby_on_rails_tut"), "http://www.railstutorial.org/" %>
    <%= t ".sample_app" %>.
  </h2>
</div>
